<?xml version="1.0" encoding="UTF-8"?>
<beans>

    <bean id="userDao" class="com.xw.springframwork.test.UserDao"/>

    <bean id="userService" class="com.xw.springframwork.test.UserService">
        <property name="uId" value="001"/>
        <property name="userDao" ref="userDao"/>
    </bean>

</beans>